html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    color: #333;
}

footer {
    color: #333;
    font-size: 1.2rem;
}

div{
    margin: 40px auto;
}

/*Cria um círculo*/
#grafico-01{

    background-color: maroon;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    
}

#grafico-01 img{
    width: 100%;
    height: auto;
}

/*Cria um triângulo*/
#grafico-02{
    background: transparent;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 60px;
}

#imagem-vetorial{
    width: 100px;

}

#canvas{
    height: 100px;
    width: 300px;
}

/* Filtros */

#grafico-01 {
    filter: drop-shadow(8px 8px 10px #333);
    max-width: 100%;
    height: auto;
}

.filtro {
    filter: grayscale(100%); /*escala de conza*/
    filter: blur(5px); /*desfoque*/
    filter: brightness(80%); /*altera o brilho da imagem*/
    filter: invert(100%); /*inversão de cores*/
    filter: opacity(50%);
    filter: saturate(200%) sepia(100); /*combina filtros separados por espaços*/


}

.filtro:hover {
    filter: grayscale(0%);
    
}