
* {
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-color: #efefef;
    overflow: overlay;
}

h1, h2, p{
    margin-bottom: 20px;
}

div{
    padding: 20px 0;
    margin: 0;
}

.width-100{
    width: 100%;
    width: 100vw; /* viewport with*/
    background-color: aqua;
    padding: 20px 0;
    height: 400px;
}

nav{
    background-color: gray;
    width: 20%;
    float: left;
    display: table;
    height: 100%;
}

article{
    background-color: ivory;
    width: 80%;
    float: left;
    height: 100%;
    box-sizing: border-box; /*considera o padding e a borda na largura e altura*/
}

.fixed-width{
    background-color: lawngreen;
    width: 200px;
    margin: 0 auto;
    text-align: center;

}

.background{
    background-color: lightcoral;
    background-image: url(../images/pattern.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 40vh;

}

div img{
    width: 100%;
}